//wrap
#wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
}

//inner
.inner {
	position: relative;
	max-width: rem(1320);
    height: 100%;
	margin: 0 auto;
	z-index: 10;
}

//container
#container {
    flex-grow: 1;
}

//main-section
.main-section {
    position: relative;
    min-height: 100vh;
    text-align: center;
    padding: rem(40) rem(0);
    // background-image : url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bg-clay.png");
    background : linear-gradient(rgb(237, 223, 197), rgb(234, 228, 214));
    .contents {
        display: block;
        height: auto;
    }
}