<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endorphin Factory</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/layout.js"></script>
</head>
<body>

 
<!-- wrap[s] -->
<div id="wrap">

    <!-- header[s] -->
    <header id="header" class="main-header">
        <div class="inner header-inner">
            <h1 class="logo"><a href="#sectionIntro"><span class="sr-only">ENDORPHIN FACTORY</span></a></h1>
            <ul class="menu-list">
                <li class="menu-ef-btn">
                    Endorphin Factory
                    <ul class="ef-list">
                        <li><a href="javascript:vold(0);">프로젝트 소개</a></li>
                        <li><a href="javascript:vold(0);">엔도르퍼</a></li>
                        <li><a href="javascript:vold(0);">DADA</a></li>
                        <li><a href="javascript:vold(0);">파트너</a></li>
                        <li><a href="javascript:vold(0);">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="javascript:vold(0);">Factory Shop</a></li>
                <li><a href="javascript:vold(0);">Gallery</a></li>
                <li><a href="javascript:vold(0);">Roadmap</a></li>
                <li><a href="javascript:vold(0);">News</a></li>
                <li><a href="javascript:vold(0);">Minting Guide</a></li>
            </ul>
            <div class="menu-etc">
                <a href="javascript:vold(0);" class="btn btn-md btn-mypage"><i class="ic ic-gem gem-xs"></i>MY PAGE</a>
                <div class="lang-choice">
                    <p class="sr-only">언어 선택</p>
                    <button type="button" class="btn btn-md bd-none">KR</button>
                </div>
                <a href="javascript:vold(0);" class="btn btn-cart"><i class="ic ic-cart"></i><div class="num">2</div></a>
                <div class="link-choice">
                    <button type="button" class="btn sns-link-btn"><i class="ic ic-sns-link"></i><span class="sr-only">SNS 선택</span></button>
                    <ul class="link-list">
                        <li><a href="https://discord.gg/HYNYW7HeNg" target="_blank"><i class="ic ic-discard discord"></i>Discord</a></li>
                        <li><a href="https://twitter.com/endorphin_pfp" target="_blank"><i class="ic ic-discard twitter"></i>twitter</a></li>
                        <li><a href="https://instagram.com/endorphin.factory" target="_blank"><i class="ic ic-discard Instagram"></i>Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCU-O-eVMlYbm5nGggi6g6uQ" target="_blank"><i class="ic ic-discard YouTube"></i>YouTube</a></li>
                        <li><a href="https://www.facebook.com/ENDORPHIN.FACTORY.486" target="_blank"><i class="ic ic-discard Facebook"></i>Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- //header[e] -->

    <!-- main[s] -->
    <main id="container" class="bg-white"> <!-- //배경색 적용 클래스: .bg-white, .bg-light, .bg-sky -->
        
        <!-- contents[s] -->
        <section class="contents">
            <div class="cont-head">
                <div class="inner">
                    <div class="title-wrap">
                        <h2 class="tit">FACTORY SHOP</h2>
                    </div>
                </div>
            </div>
            <div class="cont-body">
                <div class="inner">
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                </div>
            </div>
        </section>
        <!-- //contents[e] -->
        
    </main>
    <!-- //main[e] -->

    <!-- footer[s] -->
    <footer id="footer">
        <div class="inner">
            <p class="logo"><a href="#"><span class="sr-only">DILLION META</span></a></p>
            <p class="copyright">COPYRIGHT © DILLION META. ALL RIGHTS RESERVED.</p>
            <a href="#" class="txt-link">이용약관</a>
        </div>
    </footer>
    <!-- //footer[e] -->

</div>
<!-- wrap[e] -->

<!-- script[s] -->
<script type="text/javascript">

</script>
<!-- script[e] -->

</body>
</html>